#box{
    width: 250px;
    height: 250px;
    background-color: red;
    font-size: 13em;
    text-align: center;

    animation-name: shrink;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: steps(10);
}
@keyframes slideleft{
    from{transform: translateX(300%);}
}
@keyframes slideright{
    to{transform: translateX(300%);}
}
@keyframes slideup{
    from{transform: translateY(300%);}
}
@keyframes slidedeown{
    to{transform: translateY(300%);}
}
@keyframes rotateX{
    100%{transform: rotateX(360deg)}
}
@keyframes rotateY{
    100%{transform: rotateY(360deg)}
}
@keyframes rotateZ{
    50%{transform: rotateZ(360deg)}
}
@keyframes grow{
    50%{transform: scale(2, 2);}
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5);}
}
@keyframes fade{
    50%{opacity: 0}
}
@keyframes colorChange {
    0%{background-color: red;}
    20%{background-color: orange;}
    60%{background-color: green;}
    100%{background-color: blueviolet;}
}
@keyframes glow {
    50%{box-shadow: 0px 0px 50px yellow;}
}